* {
  font-family: sans;
}
.container {
  font-family: sans;
  margin: 0 auto;
  max-width: 700px;
}
pre {
  position: relative;
  white-space: pre-wrap;
}
.text {
  border: 1px dashed #ccc;
  font-size: 25px;
  height: 300px;
  letter-spacing: 5px;
  line-height: 2.5;
  overflow: hidden;
  padding: 5px;
}

.highlight {
	color: #ff0000;
}
